<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
	<style>
		.helper {
		    max-height: 100%;
		    max-width: 100%;
		    width: auto;
		    height: auto;
		    position: absolute;
		    vertical-align: middle;
		  	top: 50%;
		  	left: 50%;
		  	transform: translate(-50%,-50%);
		    margin: auto;
		}
		.helperMod {
			position: absolute;
		  	top: 50%;
		  	left: 50%;
		  	transform: translate(-50%,-50%);
		}
		.adjustHeight {
			height: 100% !important; 
			width:auto !important; 
		}
		.adjustWidth {
			width: 100% !important; 
			height: auto !important; 
		}
		.aspectContainer {
			height: 200px; 
			line-height: 200px; 
			width: 200px; 
			border: 1px solid black; 
			box-sizing: content-box; 
			position: relative; 
			overflow: hidden;
		}
	</style>
</head>
<body>
	<div class="container">
		<h1 class="text-center">Aspect ratio calculator</h1>
		<p class="text-center">Use the form below to calculate the missing value for a particular aspect ratio. This is useful, for example, when resizing photos or video.</p>

		<div id="app" class="card text-center p-5">	
			<form  class="row">
				<h4 class="col-12 text-left">Width:</h4>
				<label class="col col-md-6">
					<input placeholder="W1" type="number" v-model="currentWidth" class="form-control">
				</label>
				<label class="col col-md-6">
					<input placeholder="W2" type="number" v-model="calculateW2" class="form-control">
				</label>


				<h4 class="col-12 text-left">Height:</h4>
				<label class="col col-md-6">
					<input placeholder="H1" type="number" v-model="currentHeight" class="form-control">
				</label>
				<label class="col col-md-6">
					<input placeholder="H2" type="number" v-model="calculateH2"  class="form-control">
				</label>

				<h4 class="col-12 text-left">Common aspect ratios:</h4>
				<label class="col-md-6">
					<select @change="resetHandler" v-model="selectedRatio" class="form-control">
						<option :value="ratio.id" v-for="ratio in ratios">{{ ratio.w }} x {{ ratio.h }} {{ratio.comment}}</option>
					</select>
				</label>
			</form>

			<h4 class="mt-3">Your aspect ratio is: {{ aspectRatio }}</h4>

			<div class="row mt-3 justify-content-center">
				<div class="aspectContainer" 
				:style="{ height: aspectRatioH > aspectRatioW ? '200px' : aspectRatioH * 200/aspectRatioW + 'px', 
				 lineHeight:  showSampleImgBool ? '0' : aspectRatioH > aspectRatioW ? '200px': aspectRatioH * 200/aspectRatioW + 'px',
				 width: aspectRatioW > aspectRatioH ? 200 + 'px': aspectRatioW * 200 / aspectRatioH + 'px'}">
					<img class="img-fluid helper" v-if="showSampleImgBool && handleMismatches == '0'" :src="imgSource">
					<img class="helperMod" v-if="showSampleImgBool && handleMismatches == '1'" :src="imgSource">
					<span v-if="!showSampleImgBool"  style="vertical-align: baseline; line-height: normal;" class="d-inline-block">{{ aspectRatio }} Aspect ratio</span>
				</div>
				<div class="col-12">
					<input type="checkbox" v-model="showSampleImgBool"> Show sample Image
				</div>
				<div v-if="showSampleImgBool" class="col-12">
					<div>
						Image Source: <input placeholder="example.com/img.jpg" type="text" v-model="imgSource">
					</div>
					<div style="border: 1px solid lightgrey; display: inline-block;" class="extras mt-3 p-3"> 
						<p>How to handle the ratio mismatches:</p>
						<div>
							<span class="m-4">
								<label for="default"><i style="font-size:24px" class="fas fa-image"></i><input id="default" class="m-2" type="radio" name="ratio" value="0" v-model="handleMismatches"></label>
							</span>
							<span class="m-4">
								<label for="crop"><i style="font-size:24px" class="fas fa-crop"></i><input id="crop" class="m-2" type="radio" name="ratio" value="1" v-model="handleMismatches"></label>
							</span>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<footer class="mt-4 text-center"><small>Copyright © 2019. All rights reserved.</small></footer>
	<script>
		function gcd(a, b) {
			return (b == 0) ? a : gcd (b, a%b);
		}

		setInterval(function() {
			if(x.handleMismatches == '1') {
				if(x.modImgDimensions.height < 200) {
					let	image = document.querySelector('.helperMod');
					image.classList.add('adjustWidth');
					image.classList.remove('adjustHeight');
				}
				if(x.modImgDimensions.width < 200){
					let	image = document.querySelector('.helperMod');
					image.classList.add('adjustHeight');
					image.classList.remove('adjustWidth');
				} 
				if(x.modImgDimensions.height <200 && x.aspectRatioW == 2 &&  x.aspectRatioH == 3) {
					let	image = document.querySelector('.helperMod');
					image.classList.add('adjustHeight');
					image.classList.remove('adjustWidth');
				}
			}
		},250); 

		x = new Vue({
			el: '#app',
			data: {
				ratios: [
					{id: 0, w: 7680, h: 4320, comment: "(8k UHDTV)"},
					{id: 1,  w: 5120, h: 2880, comment: "(5k, iMac with retina screen)"},
					{id: 2,  w: 3840, h: 2160, comment: "(4k UHDTV)"},
					{id: 3,  w: 2048, h: 1536, comment: "(iPad with retina screen)"},
					{id: 4,  w: 1920, h: 1200, comment: "(Widescreen computer monitor)"},
					{id: 5,  w: 1920, h: 1080, comment: "(HD TV, iPhone 6 plus)"},
					{id: 6,  w: 1334, h: 750, comment: "(iPhone 6)"},
					{id: 7,  w: 1200, h: 630, comment: "(Facebook)"},
					{id: 8,  w: 1136, h: 640, comment: "(iPhone 5 Screen)"},
					{id: 9,  w: 1024, h: 768, comment: "(iPad)"},
					{id: 10,  w: 1024, h: 512, comment: "(Twitter)"},
					{id: 11,  w: 960, h: 640, comment: "(iPhone 4 screen)"},
					{id: 12,  w: 800, h: 600, comment: ""},
					{id: 13,  w: 728, h: 90, comment: "(Common web banner ad size)"},
					{id: 14,  w: 720, h: 486, comment: "(PAL)"},
					{id: 15,  w: 640, h: 480, comment: "(VGA)"},
					{id: 16,  w: 576, h: 486, comment: "(NTSC)"},
					{id: 17,  w: 320, h: 480, comment: "(HVGA)"},
				],
				h2Value: '',
				w2Value: '',
				selectedRatio: 12,
				currentWidth1: 800,
				currentHeight1:600,
				aspectRatio: '4:3',
				aspectRatioW: 4,
				aspectRatioH: 3,
				showSampleImgBool: false,
				imgSource: './sample.jpg',
				handleMismatches: '0',
				modImgDimensions: { width: 200, height: 125 },
				aspectContainer : {width: 200, height: 200}
			},
			methods: {
				resetHandler() {
					this.h2Value = ''
					this.w2Value = ''
				},
				calculateAspectRatio(r,w,h) {
					this.aspectRatioW = w/r;
					this.aspectRatioH = h/r;
					return w/r + ":" + h/r;
				},
				updateImageSize() {
					if(this.handleMismatches == '1') {
						let container = document.querySelector('.aspectContainer');
						let	image = document.querySelector('.helperMod');
						this.aspectContainer.width = image.width;
						this.aspectContainer.height = image.height;
						this.modImgDimensions.width = image.width;
						this.modImgDimensions.height = image.height;
					}
				}
			},
			watch: {
				selectedRatio() {
					this.currentWidth1 = this.ratios[this.selectedRatio].w;
					this.currentHeight1 = this.ratios[this.selectedRatio].h;
					this.updateImageSize();
				},
				currentWidth1() {
					let r = gcd(this.currentWidth1, this.currentHeight1)
					this.aspectRatio = this.calculateAspectRatio(r, this.currentWidth1, this.currentHeight1);
					if(this.w2Value == 0) this.w2Value = '';
					this.updateImageSize();
				},
				currentHeight1() {
					let r = gcd(this.currentWidth1, this.currentHeight1)
					this.aspectRatio = this.calculateAspectRatio(r, this.currentWidth1, this.currentHeight1);
					if(this.h2Value == 0) this.h2Value = '';
					this.updateImageSize();
				},
				handleMismatches() {
					this.updateImageSize();
				}
			},
			computed: {
				calculateW2: {
					get() {
						return parseFloat(this.w2Value).toFixed(0);
					},
					set(val) {
						this.w2Value = val
						this.h2Value = (this.currentHeight1 * this.w2Value) / this.currentWidth1;
					}
				},
				calculateH2: {
					get() {
						return parseFloat(this.h2Value).toFixed(0);
					},
					set(val) {
						this.h2Value = val
						this.w2Value = (this.currentWidth1 * this.h2Value) / this.currentHeight1;
					}
				},
				currentWidth: {
					get() {
						return parseFloat(this.currentWidth1).toFixed(0);
					},
					set(val) {
						this.currentWidth1 = val 
						this.w2Value = (this.currentWidth1 * this.h2Value) / this.currentHeight1;
					}
				},
				currentHeight: {
					get() {
						return parseFloat(this.currentHeight1).toFixed(0);
					},
					set(val) {
						this.currentHeight1 = val 
						this.h2Value = (this.currentHeight1 * this.w2Value) / this.currentWidth;
					}
				}
			}
		})

	</script>

</body>
</html>