<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
	<link rel="stylesheet" href="./style.css">
</head>
<body>
	<div class="container">
		<div class="app-header text-center">
			<h1>Aspect ratio calculator</h1>
			<p>Use the form below to calculate the missing value for a particular aspect ratio. This is useful, for example, when resizing photos or video.</p>
		</div>

		<div id="app" class="card text-center p-5">	
			<form  class="row">
				<h4 class="col-12 text-left">Width:</h4>
				<label class="col col-md-6">
					<input placeholder="W1" type="number" v-model="currentWidth" class="form-control">
				</label>
				<label class="col col-md-6">
					<input placeholder="W2" type="number" v-model="calculateW2" class="form-control">
				</label>


				<h4 class="col-12 text-left">Height:</h4>
				<label class="col col-md-6">
					<input placeholder="H1" type="number" v-model="currentHeight" class="form-control">
				</label>
				<label class="col col-md-6">
					<input placeholder="H2" type="number" v-model="calculateH2"  class="form-control">
				</label>

				<h4 class="col-12 text-left">Common aspect ratios:</h4>
				<label class="col-md-6">
					<select @change="resetFormInputs" v-model="selectedRatio" class="form-control">
						<option :value="ratio.id" v-for="ratio in ratios">{{ ratio.w }} x {{ ratio.h }} {{ratio.comment}}</option>
					</select>
				</label>
			</form>

			<h4 class="mt-3">Your aspect ratio is: {{ aspectRatio }}</h4>

			<div class="row mt-3 justify-content-center">
				<div class="aspect-ratio-box" 
				:style="{ height: aspectRatioH > aspectRatioW ? '200px' : aspectRatioH * 200/aspectRatioW + 'px', 
				 lineHeight:  showSampleImgBool ? '0' : aspectRatioH > aspectRatioW ? '200px': aspectRatioH * 200/aspectRatioW + 'px',
				 width: aspectRatioW > aspectRatioH ? 200 + 'px': aspectRatioW * 200 / aspectRatioH + 'px'}">
					<img class="img-fluid sample-image" v-if="showSampleImgBool && handleMismatches == '0'" :src="imgSource">
					<img  class="img-fluid sample-image-mod" v-if="showSampleImgBool && handleMismatches == '1'" :src="imgSource">
					<span v-if="!showSampleImgBool" class="d-inline-block v-align">{{ aspectRatio }} Aspect ratio</span>
				</div>

				<div class="col-12">
					<input type="checkbox" v-model="showSampleImgBool"> Show sample Image
				</div>
				<div v-if="showSampleImgBool" class="col-12">
					<div>
						Image Source: <input placeholder="example.com/img.jpg" type="text" v-model="imgSource">
					</div>
					<div class="image-extra-tools mt-3 p-3"> 
						<p>How to handle the ratio mismatches:</p>
						<div>
							<span class="m-4">
								<label title="Letterbox/Pillarbox" for="default"><i style="font-size:24px" class="fas fa-image"></i><input id="default" class="m-2" type="radio" name="ratio" value="0" v-model="handleMismatches"></label>
							</span>
							<span class="m-4">
								<label title="crop" for="crop"><i style="font-size:24px" class="fas fa-crop"></i><input id="crop" class="m-2" type="radio" name="ratio" value="1" v-model="handleMismatches"></label>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="mt-4 text-center"><small>Copyright © 2019. All rights reserved.</small></footer>
	<script type="text/javascript" src="./script.js"></script>

</body>
</html>